.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body{
  font-size: 14px;
  background: #282c34;
  font-family: 'Poppins';
  text-align: center;
}

.App {
  margin: 150px auto;
  width: 70%;
  background-color: #282c34;
  text-align: center;
}
.App h1{
  font-size: 42px;
  color: ghostwhite;
}
.App p{
  color: ghostwhite;
}

.Login{
  background-color: #282c34;
  text-align: center;
}
.container {
  text-align: left;
  background-color: #282c34;
  margin-left: 165px;
}
.container h2{
  font-size: 42px;
  color: ghostwhite;
}
.container p{
  font-size: 16px;
  color: ghostwhite;
}
.form-input{
  background: #E6E7E8;
  width: 60%;
  padding: 12px;
  margin-bottom: 20px;
}
form{
  background: #fff;
  width: 90%;
  display: block;
  max-width: 650px;
  margin: auto;
  padding: 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.APP{
  background-color: #282c34;
  text-align: center;
}
.APP h1{
  font-size: 42px;
  color: ghostwhite;
}
.main_page{
  background-color: #282c34;
  text-align: left;
}
.Alojamiento{
  background-color: #282c34;
}
.Favoritos{
  background-color: #282c34;
}
.Resarvados{
  background-color: #282c34;
}
.btn-submit{
   width: 50%;
   background: #F58141;
   font-size: 16px;
   border:none;
   color:#fff;
   padding: 15px 0;
   margin: 15px;
  }
.btn-logout{
  width: 50%;
   background: #F58141;
   font-size: 16px;
   border:none;
   color:#fff;
   padding: 15px 0;
   margin: 15px;
   align-self:flex-end;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
